body {
    margin: 0;
    background: #060e1b;
    font-family: Roboto;
}
a {
    color: #fff;
    text-decoration: none;
}
.aboutMe {
    display: inline-block;
    margin: 20px;
    margin-top: 185px;
    position: relative;
    left: 150px;
}
.nameAndtitle {
    color: #fff;
}
.nameAndtitle h1 {
    font-size: 2.25rem;
    font-weight: bold;
}
.nameAndtitle p {
    font-size: 1.125rem;
    font-weight: 600;
    color: #a0aec0;
}
.aboutDesc p {
    color: #718096;
}
.avatarMe {
    width: 442.83px;
    right: 5%;
    float: right;
    margin-top: 190px;
}
.avatarMe img {
    width: 50%;
    border-radius: 10px;
}
.aboutDesc {
    width: 350px;
    color: #fff;
}
[data-wenk]:hover {
    overflow: visible;
}
[data-wenk] {
    position: relative;
}
[data-wenk]:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%,-10px);
    transform: translate(-50%,-10px);
}
[data-wenk]:after {
    position: absolute;
    font-size: 13px;
    border-radius: .4rem;
    content: attr(data-wenk);
    padding: 12.8px;
    padding: .8rem;
    background-color: hsla(0,0%,7%,.8);
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
    box-shadow: 0 0 14px rgba(0,0,0,.1);
    color: #fff;
    line-height: 20px;
    line-height: 1.25rem;
    text-align: left;
    z-index: 1;
    pointer-events: none;
    display: block;
    visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    bottom: 150%;
    left: 30%;
    -webkit-transform: translate(-50%,10px);
    transform: translate(-50%,10px);
    white-space: pre;
    width: auto;
    opacity: 0;
    letter-spacing: 0;
    font-family: Roboto;
}
.socialMedia i {
    font-size: 30px;
    margin: 10px;
    position: relative;
    right: 10px;
}
.projects {
    margin: 110px;
    padding-top: 80px;
    color: #fff;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.project {
    display: block;
    align-items: center;
    border-radius: .375rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 2rem;
    width: 300px;
    text-align: center;
    background-color: #091222;
    cursor: pointer;
    transition: all 0.3s;
}
.project:hover {
    transform: scale(1.05);
}
.projectText h1 {
    font-size: 20px;
    text-transform: lowercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 980px) {
    .aboutMe {
        display: block;
        align-items: center;
        left: 50px;
    }
    .avatarMe {
        margin-top: -100px;
        margin-bottom: 50px;
        position: relative;
        left: 15px;   
    }
    .projects {
        margin: 70px;
        position: relative;
        top: -60px;
    }
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #091222;
}
::-webkit-scrollbar-thumb {
    background-color: #030d17;
    border-radius: 3px;
}